<div class="popup-average">
    <header>
        City: <b><%= it.city%></b>
    </header>
    <table>
        <tr>
            <td>Temperature:</td>
            <th><%= it.temp%></th>
        </tr>
        <tr>
            <td>Pressure:</td>
            <th><%= it.pressure%></th>
        </tr>
        <tr>
            <td>Humidity:</td>
            <th><%= it.humidity%></th>
        </tr>
        <tr>
            <td>Fall out:</td>
            <th><%= it.fallOut%></th>
        </tr>
    </table>
</div>