<div class="popup-average">
    <header>
        City: <b><%= it.city%></b>
    </header>
    <div class="content">
        <p>Temperature: <b><%= it.temp%></b></p>
        <p>Pressure: <b><%= it.pressure%></b></p>
        <p>Humidity: <b><%= it.humidity%></b></p>
        <p>Fall out: <b><%= it.fallOut%></b></p>
    </div>
</div>